.photo
  %a{ :href => photo.image.url }= image_tag photo.image.url(:small)
  = link_to "delete", photo, :method => :delete,
            :confirm => "Are you sure you want to delete this photo?",
            :title   => "Deleting photo", :class => "delete"
  = link_to "download", photo.image.url, :class => "download"
  %ul.photoDetails
    %li
      %b From IP:
      = photo.fromIP
    %li
      %b Browser Details:
      = photo.browserDetails
    %li
      %b Upload Time:
      = photo.created_at
    %li
      %b Photo Size:
      = "#{photo.image_file_size.to_s} bytes"
